<aside
  class="sidebar bg-gray-200 h-screen transition-all duration-300 ease-in-out"
  [ngClass]="{
    'w-16 hover:w-64': true,
    'p-2': !isHovered,
    'p-4': isHovered
  }"
  (mouseenter)="isHovered = true"
  (mouseleave)="isHovered = false"
>
  <ul class="sidebar-menu space-y-2">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/home" class="text-gray-700 hover:text-gray-900">
        <i class="fa-solid fa-house"></i>
        <span *ngIf="isHovered" class="ml-2"> Dashboard </span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/skiers" class="text-gray-700 hover:text-gray-900">
        <i class="fa-solid fa-person-skiing"></i>
        <span *ngIf="isHovered" class="ml-2"> Skier </span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/settings" class="text-gray-700 hover:text-gray-900">
        <i class="fa-solid fa-book"></i>
        <span *ngIf="isHovered" class="ml-2"> Course </span>
      </a>
    </li>
  </ul>
</aside>
