@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Segoe+UI:wght@400;700&display=swap');

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.layout {
  display: flex;
}

.content {
  flex: 1; /* Take the remaining space */
  padding: 20px; /* Some padding for content */
}
